{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Espace Administration</h1>
    <p>Bienvenue dans l'espace réservé aux administrateurs.</p>
{% endblock %}